<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No events to show.</p>

<div>
<table class="table">
    <thead>
        <tr>
    <th>Name</th>
        </tr>
        <tr>
    <th>Description</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="event:${events}">
        <td th:text="${event.getKey()}">Name</td>
        <td th:text="${event.getValue()}">Descriptions</td>
    </tr>
    </tbody>
</table>
</div>

<hr>
<h5 th:replace="fragments :: address"></h5>
</body>
</html>    
